@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #1261a0;
  --onPrimary: #47b2e4;
}

#header {
  max-width: 100vw;
  background-color: var(--primary);
}

#header .container {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}

#navbar ul li a:hover {
  color: var(--onPrimary);
}

#navbar .getstarted {
  padding: 12px 20px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid var(--onPrimary);
}

#navbar .getstarted:hover {
  background-color: var(--onPrimary);
  color: #ffffff !important;
}

#navbar .dropdown ul {
  width: 180px;
  height: 150px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  top: 80px;
  display: none;
}

#navbar .dropdown li {
  width: 80%;
}

#navbar .dropdown li a {
  color: var(--primary);
}

#hero {
  max-width: 100vw;
  height: 65vh;
  background-color: #1261a0;
}

#hero .row {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 200px;
}

#hero .row h1 {
  color: var(--onPrimary);
  font-size: 2.2rem;
  margin: 20px 0;
}

#hero .row h2 {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
}

#hero .aos-animate {
  width: 500px;
}

#hero .aos-animate img {
  width: 360px;
}

#hero .btn-get-started {
  padding: 12px 20px;
  background-color: var(--onPrimary);
  border-radius: 15px;
  border: 2px solid var(--onPrimary);
  text-decoration: none;
  color: #ffffff;
}

#hero .row .justify-content-lg-start {
  margin-top: 40px;
}

#main {
  background-color: #f3f5fa;
}

#about .container {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  justify-content: center;
}

#about .section-title h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
  color: var(--primary);
}

#about p {
  margin: 20px 50px;
  text-align: justify;
}

#statistics {
  margin: 60px 0;
}

#statistics .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#statistics .col-xl-3 {
  width: 230px;
  height: 150px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  transition: 0.3s;
}

#statistics .col-xl-3:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 12px 8px;
  cursor: pointer;
}

#statistics .count-number {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 10px;
}

#statistics .icon-box {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}

#statistics a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: var(--onPrimary);
}

#adventage .section-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0;
  color: var(--primary);
}

#adventage .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

#adventage .col-lg-6 {
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
}

#adventage .col-lg-6:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 12px 8px;
  cursor: pointer;
}

#adventage .member {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

#adventage .member-info h4 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: var(--primary);
  font-weight: bold;
}

#adventage .member-info p {
  font-size: 0.9rem;
  line-height: 1.2;
}

#adventage img {
  width: 130px;
}

#top-traders .section-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0;
  color: var(--primary);
}

#top-traders .card-body .row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-traders .row .col-md-4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#top-traders .aos-init {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}

#top-traders .card {
  width: 70vw;
  height: 130px;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#top-traders img {
  width: 70px;
}

#top-traders .btn {
  padding: 12px 20px;
  background-color: var(--onPrimary);
  border-radius: 15px;
  border: 2px solid var(--onPrimary);
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

#top-traders .btn:hover {
  background-color: #31d2f2;
  border: 2px solid #31d2f2;
}

#clients .section-title {
  font-size: 2rem;
  text-align: center;
  margin: 30px 0;
  color: var(--primary);
}

#clients .row {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

#clients img {
  width: 250px;
  transition: 0.3s;
}

#clients img:hover {
  transform: scale(1.1);
}

#blog {
  margin: 50px 0;
}

#blog .section-title {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0;
  color: var(--primary);
}

#blog .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#blog .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 320px;
  height: 460px;
  border-radius: 10px;
  padding: 0 10px;
  margin: 20px 0;
  margin-bottom: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#blog img {
  width: 160px;
  border-radius: 5px;
  margin-top: 10px;
}

#blog p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  margin: 30px 0;
}

#blog p:nth-child(3) {
  font-size: 1rem;
}

#blog .btn {
  padding: 15px 10px;
  background-color: var(--onPrimary);
  border-radius: 15px;
  border: 2px solid var(--onPrimary);
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  font-size: 1rem;
}

#blog .btn:hover {
  background-color: #31d2f2;
  border: 2px solid #31d2f2;
}

#blog .info-text {
  text-align: end;
}

#footer {
  width: 100%;
  background-color: #ffffff;
  height: 35vh;
}

#footer .row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-contact strong {
  font-size: 0.9rem;
  margin-right: 10px;
}

.footer-contact a {
  text-decoration: none;
  color: var(--onPrimary);
  font-size: 0.9rem;
}

.footer-links h4 {
  font-weight: bold;
  color: var(--primary);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
  transition: 0.2s;
}

.footer-links a:hover {
  color: var(--onPrimary);
}

.footer-links ul {
  margin-bottom: 10px;
}

.footer-links ul li {
  list-style: none;
  margin-bottom: 10px;
}

/* //////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 600px) {
  #header .container {
    height: 15vh;
  }

  #navbar ul {
    display: none;
  }

  #hero .row {
    height: 70vh;
    padding-bottom: 200px;
  }

  #hero .row h1 {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  #hero .row h2 {
    font-size: 1rem;
  }

  #hero .aos-animate {
    width: 250px;
  }

  #hero .aos-animate img {
    width: 250px;
  }

  #hero .btn-get-started {
    padding: 6px 10px;
  }

  #hero .row .justify-content-lg-start {
    margin-top: 20px;
  }

  #about .container {
    padding: 0px;
  }

  #about .section-title h2 {
    font-size: 2rem;
    margin: 10px 0;
  }

  #about p {
    margin: 10px 20px;
  }

  #statistics {
    margin: 30px 0;
  }

  #statistics .row {
    gap: 10px;
  }

  #statistics .col-xl-3 {
    width: 200px;
    height: 120px;
  }

  #statistics .count-number {
    font-size: 1rem;
  }

  #statistics a {
    font-size: 0.8rem;
  }

  #adventage .section-title {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  #adventage .row {
    gap: 10px;
  }

  #adventage .col-lg-6 {
    width: 500px;
    height: 140px;
  }

  #adventage .member {
    padding: 5px 20px;
  }

  #adventage .member-info h4 {
    font-size: 1rem;
    margin: 10px 0;
  }

  #adventage .member-info p {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  #adventage img {
    width: 80px;
  }

  #top-traders .section-title {
    font-size: 1rem;
  }

  #top-traders .aos-init {
    gap: 20px;
  }

  #top-traders .card {
    width: 80vw;
    padding: 0 10px;
  }

  #top-traders img {
    width: 60px;
  }

  #top-traders .btn {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  #clients .section-title {
    font-size: 1.5rem;
  }

  #clients .row {
    margin: 20px 0;
  }

  #clients img {
    width: 100px;
  }

  #blog {
    margin: 20px 0;
  }

  #blog .section-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0;
    color: var(--primary);
  }

  #blog .card {
    width: 300px;
    height: 400px;
    margin-bottom: 80px;
  }

  #blog img {
    width: 130px;
  }

  #blog p:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin: 30px 0;
  }

  #blog p:nth-child(3) {
    font-size: 0.8rem;
  }

  #blog .btn {
    padding: 8px 8px;
    font-size: 0.8rem;
  }

  #blog .info-text {
    text-align: end;
    font-size: 0.8rem;
  }

  #footer {
    width: 100%;
    background-color: #ffffff;
    height: 35vh;
  }

  #footer .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer-contact strong {
    font-size: 0.9rem;
    margin-right: 10px;
  }

  .footer-contact a {
    text-decoration: none;
    color: var(--onPrimary);
    font-size: 0.9rem;
  }

  .footer-links h4 {
    font-weight: bold;
    color: var(--primary);
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .footer-links a {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
  }

  .footer-links a:hover {
    color: var(--onPrimary);
  }

  .footer-links ul {
    margin-bottom: 10px;
  }

  .footer-links ul li {
    list-style: none;
  }
}
